.header{background-color:darkturquoise; color:aliceblue; height:100px; margin:0px;}
.header-logo{font-family:"Quicksand"; padding:10px 20px; font-size:36px;float:left}
a {
    text-decoration: none;
}

.header-logo-text {
    font-family: "Quicksand";
    font-size: 36px;
    color: aliceblue;
}

.header-list-text {
    font-size: 16px;
    color: aliceblue;
}
body{margin:0}
.bar{float:left;list-style: none;font-size:16px; padding-left:50px;padding-top:0px;color:aliceblue;}
ul{padding-left: 230px;}
.header-login{float:right;padding-right:30px}
.login{float:right;font-size:16px;padding:16px 30px 5px 0px}
.header-list{clear:left}
form{padding:14px 0px 25px 20px;}
form input[type="text"]{height:24px;border-radius:1.5rem 1.5rem 1.5rem 1.5rem}
.album-tag-ad{display:flex;width:100%;}
.jacket{ width :33% ;font-size:30px;font-weight: bold;margin-top: 10px;}
.ad{margin-right: 60px; }
.track{width:33%;padding:30px;margin-top:0px;}
.jacket{padding:30px 0px 0px 40px}
.album-title{word-break: normal;font-size:30px;font-weight: bold;padding:50px 0px 0px 40px}
.tags{ width:33%;background-color:#f5f5f5;margin:40px 15px 15px 15px;height:280px;padding:25px}
.tag-detail{margin:16px}
.detail-contents{font-weight: bold;}
.tag-tag{display:inline-block;float:left}
.tag-tag-detail{width:100px;vertical-align:middle;text-align: left;padding: 4px;height:30px; border-radius:5px;
    color: #fff;background-color: darkturquoise;margin: 3px;float:left;}
.tag-tag-detail i {
  margin: 6px 4px 0 4px;
}
.ad img{padding:90px 20px 30px 30px}
.review-track{display:flex}
.review{width:65%}

ol{margin-right:90px;}
.tracklist li{border-top:1px solid;list-style-position: inside;}
.review{display:block; margin:50px 0px 0px 90px}
.review-box{width:75%;height:350px;background-color:#fafafa;word-break: break-all;padding:7px;margin:20px;box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);}
.review-box-right{text-align: right;}
.review-box-right img{padding:20px 20px 0px 0px;}
.review-box-left img{border-radius:50%;padding:20px ;float:left}
.username{font-size:17px;color:darkturquoise;font-weight: bold;float:left}
.album-name{clear:left;font-weight:bold;word-break: normal;}
.review-box-top{display:flex;justify-content: space-between;}
.review-box p{padding:0px 12px 0px 12px; 
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.continue a{color:darkturquoise;font-weight: bold;margin-top:30px}

.pagination {
  display: inline-block;padding:60px 0px 0px 120px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.footer{font-size:20px;clear:left;background-color: darkturquoise;padding:50px;
    text-align: center;margin-top: 100px;color:aliceblue;font-family:"Quicksand"}
h1{font-size:20px;font-weight: normal;margin-left:30px;}

h2{font-size:20px;font-weight:normal;margin-left: 40px;}
.heart{text-align:right;font-size:20px;padding:0px 20px 0px 0px;margin:0px}
  .heartmark{color:pink;font-size:25px}
.star{width:420px;text-align:right;color:darkturquoise;font-size:22px;font-wight:bold;}



