<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/genre.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
  <title>genre</title>
  <style>
    .review-box-left img{
        width:50px;
        height:50px;
      }
      .review-box-right img{
        width:100px;
        height:100px;
      }
       .contents-item img{
            width: 150px;
            height: 150px;	
        }
  </style>
</head>
<body>
  <div class="header">
    <div class="header-logo"><a class="header-logo-text" href="/">amenom</a></div>
    <div class="login"> ログイン </div>
    <div class="header-login">
      <form method="get" action="http://www.google.co.jp/search" class="search_container"> <input type="text" size="40" placeholder="   作品・アーティスト検索"> </form>
    </div>
    <div class="header-list">
      <ul>
        <li><a class="header-list-text" href="/new_music">New Music</a></li>
            <li><a class="header-list-text" href="/reviews">レビュー</a></li>
            <li><a class="header-list-text" href="/genre">ジャンル</a></li>
      </ul>
    </div>
  </div>
  <div class="music-genre">
    <div class="music1">
      <div class="music">
        <h1>ロック ></h1>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
      </div>
      <div class="music">
        <h1>ポップ ></h1>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
      </div>
      <div class="music">
        <h1>Hip-Hop ></h1>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
      </div>
      <div class="music">
        <h1>メタル ></h1>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
      </div>
      <div class="music">
        <h1>エレクトロニック ></h1>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
      </div>
      <div class="music">
        <h1>K-POP ></h1>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
      </div>
      <div class="music">
        <h1>ジャズ ></h1>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          <p>★★★★★　　3.9</p>
        </div>
      </div>
    </div>
    <div class="genre">
      <ul>
        <li>ロック</li>
        <li>ポップ</li>
        <li>Hip-Hop</li>
        <li>メタル</li>
        <li>パンク</li>
        <li>レゲエ</li>
        <li>ジャズ</li>
        <li>ファンク</li>
        <li>エレクトロニック</li>
        <li>K-POP</li>
        <li>フォーク</li>
        <li>アンビエント</li>
      </ul>
    </div>
  </div>
  <div class="footer"> © 2022 amenom </div>
</body>
