<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="C:\Users\keima\Desktop\amenom\css\genre.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
  <title>genre</title>
  <style>
    .review-box-left img{
        width:50px;
        height:50px;
      }
      .review-box-right img{
        width:100px;
        height:100px;
      }
       .contents-item img{
            width: 150px;
            height: 150px;	
        }
  </style>
</head>
<body>
  <div class="header">
    <div class="header-logo"> amenom </div>
    <div class="login"> ログイン </div>
    <div class="header-login">
      <form method="get" action="http://www.google.co.jp/search" class="search_container"> <input type="text" size="40" placeholder="   作品・アーティスト検索"> </form>
    </div>
    <div class="header-list">
      <ul>
        <li>New Music</li>
        <li>レビュー</li>
        <li>ジャンル</li>
      </ul>
    </div>
  </div>
  <div class="music-genre">
    <div class="music1">
      <div class="music">
        <h1>ロック</h1>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
      </div>
      <div class="music">
        <h1>ポップ</h1>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
      </div>
      <div class="music">
        <h1>Hip-Hop</h1>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
      </div>
      <div class="music">
        <h1>メタル</h1>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
      </div>
      <div class="music">
        <h1>エレクトロニック</h1>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
      </div>
      <div class="music">
        <h1>K-POP</h1>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
      </div>
      <div class="music">
        <h1>ジャズ</h1>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item"> <img src="R-3775445-1343934326-6026.jpg">
          <p>★★★★★　　3.9</p>
        </div>
      </div>
    </div>
    <div class="genre">
      <ul>
        <li>ロック</li>
        <li>ポップ</li>
        <li>Hip-Hop</li>
        <li>メタル</li>
        <li>パンク</li>
        <li>レゲエ</li>
        <li>ジャズ</li>
        <li>ファンク</li>
        <li>エレクトロニック</li>
        <li>K-POP</li>
        <li>フォーク</li>
        <li>アンビエント</li>
      </ul>
    </div>
  </div>
  <div class="footer"> amenom </div>
</body>