<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title>amenom</title>
    <style>
        .review-box-left img{
          width: 50px;
          height: 50px;
        }
        .review-box-right img{
        width: 100px;
        height: 100px;
        }
        .contents-item img{
          width: 150px;
          height: 150px;
        }
    </style>
</head>

<body>

<!-- header part -->
<div class="header">
    <div class="header-logo">amenom</div>
    <div class="login">ログイン</div>
    <div class="header-login">
        <form method="get" action="https://www.google.co.jp/search" class="search_container">
            <input type="text" size="40" placeholder="   作品・アーティスト検索">
        </form>
    </div>

    <div class="header-list">
        <ul>
            <li>New Music</li>
            <li>レビュー</li>
            <li>ジャンル</li>
        </ul>
    </div>
</div>

<!-- main part -->
<div>
    <!-- Featured Reviews -->
    <div>
        <h1>Featured Reviews ></h1>
        <div class="review">
            <div class="review-box">
                <div class="review-box-top">
                    <div class="review-box-left">
                        <img src="../static/img/sample.jpeg">
                        <p class="username">keim</p>
                        <p class="album-name">Dark side of the moon (1973)</p>
                    </div>
                    <div class="review-box-right">
                        <img src="../static/img/sample.jpeg">
                    </div>
                </div>
                <div>
                    <p>
                    この作品は非常に素晴らしい。私はとてもこの音楽が好きだ。
                    皆にも聞いてほしい。皆にも聞いてもらえると私はとても喜ぶ。なぜかって？私は音楽を共有するのがとても好きだ。ノーミュージックノーライフ。ああああああああああああ
                    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
                    </p>
                    <p class="continue">>> 続きを読む</p>
                    <p class="star">★★★★★ 3.6</p>
                </div>
            </div>

            <div class="review-box">
                <div class="review-box-top">
                    <div class="review-box-left">
                        <img src="../static/img/sample.jpeg">
                        <p class="username">keim</p>
                        <p class="album-name">Dark side of the moon (1973)</p>
                    </div>
                    <div class="review-box-right">
                        <img src="../static/img/sample.jpeg">
                    </div>
                </div>
                <div>
                    <p>
                    この作品は非常に素晴らしい。私はとてもこの音楽が好きだ。
                    皆にも聞いてほしい。皆にも聞いてもらえると私はとても喜ぶ。なぜかって？私は音楽を共有するのがとても好きだ。ノーミュージックノーライフ。ああああああああああああ
                    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
                    </p>
                    <p class="continue">>> 続きを読む</p>
                    <p class="star">★★★★★ 3.6</p>
                </div>
            </div>

            <div class="review-box">
                <div class="review-box-top">
                    <div class="review-box-left">
                        <img src="../static/img/sample.jpeg">
                        <p class="username">keim</p>
                        <p class="album-name">Dark side of the moon (1973)</p>
                    </div>
                    <div class="review-box-right">
                        <img src="../static/img/sample.jpeg">
                    </div>
                </div>
                <div>
                    <p>
                    この作品は非常に素晴らしい。私はとてもこの音楽が好きだ。
                    皆にも聞いてほしい。皆にも聞いてもらえると私はとても喜ぶ。なぜかって？私は音楽を共有するのがとても好きだ。ノーミュージックノーライフ。ああああああああああああ
                    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
                    </p>
                    <p class="continue">>> 続きを読む</p>
                    <p class="star">★★★★★ 3.6</p>
                </div>
            </div>
        </div>
    </div>

    <!-- New Music -->
    <div class="rate">
        <h1>New Music ></h1>
        <div class="contents-item">
            <img src="../static/img/sample.jpeg">
            <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item">
            <img src="../static/img/sample.jpeg">
            <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item">
            <img src="../static/img/sample.jpeg">
            <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item">
            <img src="../static/img/sample.jpeg">
            <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item">
            <img src="../static/img/sample.jpeg">
            <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item">
            <img src="../static/img/sample.jpeg">
            <p>★★★★★　　3.9</p>
        </div>
    </div>

    <!-- Ranking -->

    <div class="rate">
        <h1>ranking ></h1>
        <div class="contents-item">
            <img src="../static/img/sample.jpeg">
            <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item">
            <img src="../static/img/sample.jpeg">
            <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item">
            <img src="../static/img/sample.jpeg">
            <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item">
            <img src="../static/img/sample.jpeg">
            <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item">
            <img src="../static/img/sample.jpeg">
            <p>★★★★★　　3.9</p>
        </div>
        <div class="contents-item">
            <img src="../static/img/sample.jpeg">
            <p>★★★★★　　3.9</p>
        </div>
    </div>

</div>

<div class="footer">© 2022 amenom</div>

</body>

</html>