<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reviews.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title>レビュー</title>
    <style>
        .review-box-left img{
          width: 50px;
          height: 50px;
        }
        .review-box-right img{
        width: 100px;
        height: 100px;
        }
        .contents-item img{
          width: 150px;
          height: 150px;
        }
        .side img{width:300px;height:300px;}
    </style>
</head>
<div class="header">
    <div class="header-logo"><a class="header-logo-text" href="homepage.html">amenom</a></div>
    <div class="login">ログイン</div>
    <div class="header-login">
        <form method="get" action="https://www.google.co.jp/search" class="search_container">
            <input type="text" size="40" placeholder="   作品・アーティスト検索">
        </form>
    </div>

    <div class="header-list">
        <ul>
            <li><a class="header-list-text" href="/new_music">New Music</a></li>
            <li><a class="header-list-text" href="/reviews">レビュー</a></li>
            <li><a class="header-list-text" href="/genre">ジャンル</a></li>
        </ul>
    </div>
</div>
<body>
 <div class="review-track">
  <div class="review">
       <h1>全てのユーザー | フォローしているユーザー</h1>
      <div class="review-box">
        <div class="review-box-top">
          <div class="review-box-left">
             <img src="../static/img/sample.jpeg">
            <p class="username">keim</p>
            <p class="album-name">Dark side of the moon (1973)</p>
          </div>
          <div class="review-box-right">
             <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          </div>
        </div>
        <div>

        <p>
        この作品は非常に素晴らしい。私はとてもこの音楽が好きだ。
        皆にも聞いてほしい。皆にも聞いてもらえると私はとても喜ぶ。ああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        </p>
            <p class="continue"><a href="/each_review">>> 続きを読む</a></p>
        <div class="heart"><span class="heartmark">&hearts;</span>   35</div>
        <p class="star">
          ★★★★★ 3.6
        </p>
        </div>
      </div>
      <div class="review-box">
        <div class="review-box-top">
          <div class="review-box-left">
             <img src="../static/img/sample.jpeg">
            <p class="username">keim</p>
            <p class="album-name">Dark side of the moon (1973)</p>
          </div>
          <div class="review-box-right">
             <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          </div>
        </div>
        <div>

        <p>
        この作品は非常に素晴らしい。私はとてもこの音楽が好きだ。
        皆にも聞いてほしい。皆にも聞いてもらえると私はとても喜ぶ。ああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        </p>
             <p class="continue"><a href="/each_review">>> 続きを読む</a></p>
        <div class="heart"><span class="heartmark">&hearts;</span>   35</div>
        <p class="star">
          ★★★★★ 3.6
        </p>
        </div>
      </div>
      <div class="review-box">
        <div class="review-box-top">
          <div class="review-box-left">
             <img src="../static/img/sample.jpeg">
            <p class="username">keim</p>
            <p class="album-name">Dark side of the moon (1973)</p>
          </div>
          <div class="review-box-right">
             <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          </div>
        </div>
        <div>

        <p>
        この作品は非常に素晴らしい。私はとてもこの音楽が好きだ。
        皆にも聞いてほしい。皆にも聞いてもらえると私はとても喜ぶ。ああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        </p>
             <p class="continue"><a href="/each_review">>> 続きを読む</a></p>
        <div class="heart"><span class="heartmark">&hearts;</span>   35</div>
        <p class="star">
          ★★★★★ 3.6
        </p>
        </div>
      </div>
      <div class="review-box">
        <div class="review-box-top">
          <div class="review-box-left">
             <img src="../static/img/sample.jpeg">
            <p class="username">keim</p>
            <p class="album-name">Dark side of the moon (1973)</p>
          </div>
          <div class="review-box-right">
             <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          </div>
        </div>
        <div>

        <p>
        この作品は非常に素晴らしい。私はとてもこの音楽が好きだ。
        皆にも聞いてほしい。皆にも聞いてもらえると私はとても喜ぶ。ああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        </p>
             <p class="continue"><a href="/each_review">>> 続きを読む</a></p>
        <div class="heart"><span class="heartmark">&hearts;</span>   35</div>
        <p class="star">
          ★★★★★ 3.6
        </p>
        </div>
      </div>
      <div class="review-box">
        <div class="review-box-top">
          <div class="review-box-left">
             <img src="../static/img/sample.jpeg">
            <p class="username">keim</p>
            <p class="album-name">Dark side of the moon (1973)</p>
          </div>
          <div class="review-box-right">
             <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          </div>
        </div>
        <div>

        <p>
        この作品は非常に素晴らしい。私はとてもこの音楽が好きだ。
        皆にも聞いてほしい。皆にも聞いてもらえると私はとても喜ぶ。ああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        </p>
             <p class="continue"><a href="/each_review">>> 続きを読む</a></p>
        <div class="heart"><span class="heartmark">&hearts;</span>   35</div>
        <p class="star">
          ★★★★★ 3.6
        </p>
        </div>
      </div>
      <div class="review-box">
        <div class="review-box-top">
          <div class="review-box-left">
             <img src="../static/img/sample.jpeg">
            <p class="username">keim</p>
            <p class="album-name">Dark side of the moon (1973)</p>
          </div>
          <div class="review-box-right">
             <a href="/each_album"><img src="../static/img/sample.jpeg"></a>
          </div>
        </div>
        <div>

        <p>
        この作品は非常に素晴らしい。私はとてもこの音楽が好きだ。
        皆にも聞いてほしい。皆にも聞いてもらえると私はとても喜ぶ。ああああああああああああ
        あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        </p>
             <p class="continue"><a href="/each_review">>> 続きを読む</a></p>
        <div class="heart"><span class="heartmark">&hearts;</span>   35</div>
        <p class="star">
          ★★★★★ 3.6
        </p>
        </div>
      </div>

      <div class="pagination">
          <a href="#">&laquo;</a> <a href="">1</a> <a href="">2</a> <a href="">3</a> <a href="">4</a> <a href="">5</a> <a href="">6</a> <a href="">&raquo;</a>
      </div>

  </div>
     <div class="side">
      <img src="../static/img/bnr_square.png">
     </div>
 </div>
 <div class="footer"> © 2022 amenom </div>

</body>

